  name: CI-CD-pipeline-to-AWS-ElasticBeastalk
  env: 
    EB_PACKAGE_S3_BUCKET_NAME : "adv-if-application-packages"
    EB_APPLICATION_NAME       : "MyFlask"
    EB_ENVIRONMENT_NAME       : "MyFlask-env"
    DEPLOY_PACKAGE_NAME       : "Flask_app_${{ github.sha }}.zip"
    AWS_REGION_NAME           : "us-set-2"
  
  
  on:
    push:
       branches:
             - main
             
             
  jobs:
    my-ci-part:
       runs-on: ubuntu-latest
           
         
       steps:
          - name: Git clone our repo
            uses: actions/checkout@v1
              
              
          - name: Create ZIP deployment package
            run : zip -r  ${{ env.DEPLOY_PACKAGE_NAME }} ./  -x *.git*
            
            
          - name: Configure my AWS Credentials
            uses: aws-actions/configure-aws-credentials@v1
            with:
                aws-access-key-id     :  ${{ secrets.MY_AWS_ACCESS_KEY }}
                aws-secret-access-key :  ${{ secrets.MY_AWS_SECRET_KEY }}
                aws-region            :  ${{ env.AWS_REGION_NAME}}


          - name: Copy Deployment package to S3 boucet
            run : awss3 cp ${{ env.DEPLOY_PACKAGE_NAME }}   s3://${{ EB_PACKAGE_S3_BUCKET_NAME }}/
            
            
          - name: Print Happy Message for CI finish
            run : echo "CI Pipeline part Finished successfully!"
